body {
  margin: 0px;
  overflow: hidden;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

.gameTitleDiv {
  width: 100%;

  /* border: 3px green solid; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.gameTitleText {
  font-family: "orbitronregular";
  font-weight: bolder;
  font-size: 64px;

  /* border-bottom: 3px white solid; */
  color: white;
  padding-right: 0px;
  margin: 0px;
  margin-right: 20px;
}
